.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

input {
  width: 100%;
  max-width: 300px; /* Define uma largura máxima */
  padding: 8px; /* Ajusta o preenchimento */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px; /* Reduz o tamanho da fonte */
}

input:focus {
  border-color: #8247c2;
  outline: none;
}

.submit-button {
  width: 100%;
  max-width: 300px; /* Define uma largura máxima para o botão */
  padding: 10px;
  background-color: #8247c2;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px; /* Espaçamento acima do botão */
}

.submit-button:hover {
  background-color: #8247c2;
}


/* Tabela */
.table-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #8247c2;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #e0e0e0;
}

tfoot td {
  font-weight: bold;
  background-color: #f0f0f0; /* Destaque para o total */
}

.total-receita-container {
  margin-top: 10px;
  font-size: 16px;
  text-align: right;
  color: #01a817; 
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}